(admin.html)
<br>
Logged in as {{currentUser.name}}
<br>
<h2>Admin:</h2>
<hr>
Books:
<div>
  <a href="" ng-click="showNewBookForm=true">Add book</a>
  <div ng-show="showNewBookForm">
    <a href="" ng-click="showNewBookForm=false">X</a>
    <br>

    <form name="newBookTitleForm" style="display: inline-block">
      <div id="searchBookSelectBox" style="display: inline-block">
        <select id="searchBookOptionBox" ng-model="searchBookOption" ng-options="option.value as option.name for option in searchBookOptions" ng-init="searchBookOption = searchBookOptions[0].value">
        </select>
      </div>
      <input type="text" ng-model="newBookTitle" placeholder="{{searchBookOption}}" required/>


      <button ng-disabled="newBookTitleForm.$invalid" ng-click="searchAzForBook(searchBookOption, newBookTitle)">
        Search for book by {{searchBookOption}}
      </button>
    </form>


    <form name="newBookIsbnForm">
      <input type="text" ng-model="newBookIsbn" placeholder="New book ISBN" required/>

      <button ng-disabled="newBookIsbnForm.$invalid" ng-click="addBookByIsbn(newBookIsbn)">
        Add Book by ISBN
      </button>
    </form>
  </div>
</div>

<ul>
  <li ng-repeat="result in searchResults">
    <img src="{{result.SmallImage[0].URL[0]}}" />
    {{result.ItemAttributes[0].Title[0]}} by {{result.ItemAttributes[0].Author[0]}}, {{result.ItemAttributes[0].PublicationDate[0]}} (ISBN: {{result.ItemAttributes[0].ISBN[0]}})

  </li>
</ul>

<ul>
  <div ng-init="mainPage=true"></div>
  <li ng-repeat="book in books"> <!-- ng-hide="deleted "> -->
      <img src="{{book.coverArtUrl.medium}}" />
      {{book.title}} by {{book.author}} - <a href="" ng-click="addToLibrary(currentUser.library, book._id)">Add this book to your library</a>
      <br>
      <span ng-hide="moreInfo"><a href="" ng-click="moreInfo=true">More Info +</a></span>
      <span ng-show="moreInfo"><a href="" ng-click="moreInfo=false">More Info -  </a></span>
      <div ng-show="moreInfo">
        {{book.subtitle}}
        <br>
        {{book.length}} pages
        <br>
        Published {{book.date}} by {{book.publisher}}
        <br>
        <span ng-repeat="tag in book.tags">
          {{tag}}
        </span>
        <br>
        ISBN-10: {{book.isbn10}}
        <br>
        ISBN-13: {{book.isbn13}}
        <br>
        Language: {{book.lang}}
        <br>
        Added: {{book.dateAdded}}
        <br>
        Updated: {{book.updatedAt}}
        <br>
        <span ng-hide="showDesc"><a href="" ng-click="showDesc=true">Description &#9660;</a></span>
        <span ng-show="showDesc"><a href="" ng-click="showDesc=false">Description &#9654;</a></span>
        <div ng-hide="showDesc">
          Google Books:<br>
          <i>{{book.googDescription}}</i>
          <br>
          Amazon: <br>
          <i>{{book.azDescription}}</i>
        </div>
      </div>


      <br> (ISBN: {{book.isbn}}) id: {{book._id}} &#187;
      <a href="" ng-click="deleteConfirm=true">
        delete
      </a>
        <span ng-show="deleteConfirm">
          Are you sure?
          <a href="" ng-click="deleteBook(book._id); deleteConfirm=false; ">
            Yes
          </a> /
          <a href="" ng-click="deleteConfirm=false">
            Cancel
          </a>
        </span>
       <!-- -
      <a href="" ng-click="show=true">
        edit
      </a>
      <div ng-show="show">
        <a href= "" ng-click="show=false">X</a>

        <div id="editBookSelectBox">
          <select id="editBookOptionBox" ng-model="editBookOption" ng-options="option.value as option.name for option in editBookOptions" ng-init="editBookOption = editBookOptions[0].value">
          </select>
        </div>


        <form name="editBookForm">
          <input type="text" ng-model="editedBook" placeholder="New {{editBookOption}}" required/>
          <button ng-disabled="editedBookForm.$invalid" ng-click="editBook(book._id, editBookOption, editedBook)">
            Edit {{editOption}}
          </button>
        </form> -->




      </div>
      <hr length="30">
  </li>
</ul>


<hr>
Users:
<ul>
  <li ng-repeat="user in users">
    {{user.name}}

    &#187;
    <a href="" ng-click="deleteConfirm=true">
     delete
    </a>
     <span ng-show="deleteConfirm">
       Are you sure?
       <a href="" ng-click="deleteUser(user._id, user.library); deleteConfirm=false;">
         Yes
       </a> /
       <a href="" ng-click="deleteConfirm=false">
         Cancel
       </a>
     </span>
    -
    <a href="" ng-click="show=true">
     edit
    </a>
    <div ng-show="show">
     <a href= "" ng-click="show=false">X</a>

     <div id="editUserSelectBox">
       <select id="editUserOptionBox" ng-model="editUserOption" ng-options="option.value as option.name for option in userOptions" ng-init="editUserOption = userOptions[0].value">
       </select>
     </div>


     <form name="editUserForm">
       <input type="text" ng-model="editedUser" placeholder="New {{editUserOption}}" required/>
       <button ng-disabled="editedUserForm.$invalid" ng-click="editUser(user._id, editUserOption, editedUser)">
         Edit {{editUserOption}}
       </button>
     </form>

    </div>
    <br>
    roles: <span ng-repeat="role in user.roles">{{role}}, </span>
    <br>
    fb id: {{user.fb.id}}
    <br>
    user id: {{user._id}}
    <br>
    library id: {{user.library}}
    <br>
    books:
    <books-dir user="user" get-library="getUserLibrary(id)"></books-dir>

    <form name="addBookForm">
      <input type="text" ng-model="addBookId" placeholder="id of book to add" required/>
      <button ng-disabled="addBookForm.$invalid" ng-click="addToLibrary(user.library, addBookId)">
        Add to library
      </button>
    </form>
    <br>
  </li>
</ul>

<!-- <div>
  <a href="" ng-click="showNewUserForm=true">Add User</a>
  <div ng-show="showNewUserForm">
    <a href="" ng-click="showNewUserForm=false">X</a>
    <form name="newUserForm">
      <input type="text" ng-model="newUserName" placeholder="New user name" required/>

      <button ng-disabled="newUserForm.$invalid" ng-click="addUser(newUserName)">
        Add User
      </button>
    </form>
  </div>
</div> -->
<hr>


Libraries:

  <li ng-repeat="library in libraryList">
    owner id: {{library.ownerId}}
    /
    library._id: {{library._id}}
    &#187;
    <a href="" ng-click="deleteConfirm=true">
      delete
    </a>
      <span ng-show="deleteConfirm">
        Are you sure?
        <a href="" ng-click="deleteLibrary(library._id); deleteConfirm=false;">
          Yes
        </a> /
        <a href="" ng-click="deleteConfirm=false">
          Cancel
        </a>
      </span>
    <ul>

      <li ng-repeat="book in library.books">

        {{book.book.bookData.title}} by {{book.book.bookData.author}} (ISBN: {{book.book.bookData.isbn}}) id: {{book.book.bookData._id}} - <a href="" ng-click="removeFromLibrary(library._id, book._id)">delete</a>

      </li>
    </ul>
  </li>
</ul>

Manual remove:<br>
<button ng-click="manualRemoveLib = currentUser.library">my library</button>
<form name="manualRemove" ng-init="manualRemoveLib=currentUser.library">

  <input type="text" ng-model="manualRemoveLib"  placeholder="libraryId" required/>
  <br>
  <input type="text" ng-model="manualRemoveBook" placeholder="bookId" required/>

  <br>
  <button ng-disabled="manualRemove.$invalid" ng-click="removeFromLibrary(manualRemoveLib, manualRemoveBook)">
    Manually remove
  </button>
</form>

<hr>

<a ui-sref='main.home'>&#171; Home</a>
