(admin.html)
<br>
<h2>Admin:</h2>
<hr>
Books:
<ul>

  <li ng-repeat="book in books"> <!-- ng-hide="deleted "> -->
      {{book.title}} by {{book.author}} (ISBN: {{book.isbn}}) id: {{book._id}} &#187;
      <a href="" ng-click="deleteConfirm=true">
        delete
      </a>
        <span ng-show="deleteConfirm">
          Are you sure?
          <a href="" ng-click="deleteBook(book._id); deleteConfirm=false; ">
            Yes
          </a> /
          <a href="" ng-click="deleteConfirm=false">
            Cancel
          </a>
        </span>
       -
      <a href="" ng-click="show=true">
        edit
      </a>
      <div ng-show="show">
        <a href= "" ng-click="show=false">X</a>

        <div id="editBookSelectBox">
          <select id="editBookOptionBox" ng-model="editBookOption" ng-options="option.value as option.name for option in bookOptions" ng-init="editBookOption = bookOptions[0].value">
          </select>
        </div>


        <form name="editBookForm">
          <input type="text" ng-model="editedBook" placeholder="New {{editBookOption}}" required/>
          <button ng-disabled="editedBookForm.$invalid" ng-click="editBook(book._id, editBookOption, editedBook)">
            Edit {{editOption}}
          </button>
        </form>

      </div>
  </li>
</ul>
<div>
  <a href="" ng-click="showNewBookForm=true">Add book</a>
  <div ng-show="showNewBookForm">
    <a href="" ng-click="showNewBookForm=false">X</a>
    <form name="newBookForm">
      <input type="text" ng-model="newBookTitle" placeholder="New book title" required/>
      <br>
      <input type="text" ng-model="newBookAuthor" placeholder="New book author" required/>
      <br>
      <input type="text" ng-model="newBookIsbn" placeholder="New book ISBN" required/>
      <br>
      <button ng-disabled="newBookForm.$invalid" ng-click="addBook(newBookTitle, newBookAuthor, newBookIsbn)">
        Add Book
      </button>
    </form>
  </div>
</div>

<hr>
Users:
<ul>
  <li ng-repeat="user in users">
    name: {{user.name}} (_.id: {{user._id}})

    &#187;
    <a href="" ng-click="deleteConfirm=true">
     delete
    </a>
     <span ng-show="deleteConfirm">
       Are you sure?
       <a href="" ng-click="deleteUser(user._id, user.library); deleteConfirm=false;">
         Yes
       </a> /
       <a href="" ng-click="deleteConfirm=false">
         Cancel
       </a>
     </span>
    -
    <a href="" ng-click="show=true">
     edit
    </a>
    <div ng-show="show">
     <a href= "" ng-click="show=false">X</a>

     <div id="editUserSelectBox">
       <select id="editUserOptionBox" ng-model="editUserOption" ng-options="option.value as option.name for option in userOptions" ng-init="editUserOption = userOptions[0].value">
       </select>
     </div>


     <form name="editUserForm">
       <input type="text" ng-model="editedUser" placeholder="New {{editUserOption}}" required/>
       <button ng-disabled="editedUserForm.$invalid" ng-click="editUser(user._id, editUserOption, editedUser)">
         Edit {{editUserOption}}
       </button>
     </form>

    </div>

    <br>
    users library (library id: {{user.library}}):
    <br>
    <!-- books: {{userLibrary.books}} -->
    <div ng-init="getUserLibrary(user.library)"></div>  <!-- this is buggy -->
    <div ng-repeat="book in userLibrary.books">
      {{book.title}} by {{book.author}} (isbn: {{book.isbn}})
    </div>

    <form name="addBookForm">
      <input type="text" ng-model="addBookId" placeholder="id of book to add" required/>

      <button ng-disabled="addBookForm.$invalid" ng-click="addToLibrary(user.library, addBookId)">
        Add to library
      </button>
    </form>



  </div>


    <br>

  </li>
</ul>

<div>
  <a href="" ng-click="showNewUserForm=true">Add User</a>
  <div ng-show="showNewUserForm">
    <a href="" ng-click="showNewUserForm=false">X</a>
    <form name="newUserForm">
      <input type="text" ng-model="newUserName" placeholder="New user name" required/>

      <button ng-disabled="newUserForm.$invalid" ng-click="addUser(newUserName)">
        Add User
      </button>
    </form>
  </div>
</div>
<hr>


Libraries:
<ul>
  <li ng-repeat="library in libraryList">

    library._id: {{library._id}}
    &#187;
    <a href="" ng-click="deleteConfirm=true">
      delete
    </a>
      <span ng-show="deleteConfirm">
        Are you sure?
        <a href="" ng-click="deleteLibrary(library._id); deleteConfirm=false;">
          Yes
        </a> /
        <a href="" ng-click="deleteConfirm=false">
          Cancel
        </a>
      </span>
     -
    <!-- <a href="" ng-click="show=true">
      edit
    </a>
    <div ng-show="show">
      <a href= "" ng-click="show=false">X</a>

      <div id="editLibrarySelectBox">
        <select id="editLibraryOptionBox" ng-model="editLibraryOption" ng-options="option.value as option.name for option in libraryOptions" ng-init="editLibraryOption = libraryOptions[0].value">
        </select>
      </div>

      <form name="editLibraryForm">
        <input type="text" ng-model="editedLibrary" placeholder="New {{editLibraryOption}}" required/>
        <button ng-disabled="editedLibraryForm.$invalid" ng-click="editLibrary(library._id, editLibraryOption, editedLibrary)">
          Edit {{editLibraryOption}}
        </button>
      </form>

    </div> -->

    <br>
    <!-- <form name="addBookForm">
      <input type="text" ng-model="addBookId" placeholder="id of book to add" required/>

      <button ng-disabled="addBookForm.$invalid" ng-click="addToLibrary(library._id, addBookId)">
        Add to library
      </button>
    </form> -->

  <!-- books: {{library.books}} -->
  <div ng-repeat="book in library.books">
    {{book.title}} by {{book.author}} (isbn: {{book.isbn}})

  </div>
  <br>
  </li>
</ul>

<!-- <div>
  <button ng-click="addLibrary()">
    Add Library
  </button>
</div> -->

<hr>

<a ui-sref='main'>&#171; Main</a>
