
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img id="book-bookCover" class="center-block" src="{{book.coverArtUrl.large}}" />

      </div>
      <div class="col-xs-12 col-sm-6">
        stuff
        <!--Body content-->
      </div>
    </div>
  </div>




<!--
<hr>
<img src="{{book.coverArtUrl.medium}}" />
{{book.title}} by <span ng-repeat="author in book.authors">{{author}}{{$last ? '' : ', '}}</span>
<br>
<span ng-hide="moreInfo"><a href="" ng-click="moreInfo=true">More Info -</a></span>
<span ng-show="moreInfo"><a href="" ng-click="moreInfo=false">More Info +</a></span>
<div ng-hide="moreInfo">
  <span ng-if="book.subtitle">{{book.subtitle}}
  <br>
  </span>

  <span ng-if="book.length">{{book.length}} pages
  <br>
  </span>

  Published {{book.publishDate}} by {{book.publisher}}<span ng-repeat="place in book.publishPlaces">{{$first ? ',' : ''}} {{place}}{{$last ? '' : ', '}}</span>
  <br>
  <span ng-if="book.tags.length"><span ng-repeat="tag in book.tags">
    {{tag}}{{$last ? '' : ', '}}
  </span>
  <br></span>

  <span ng-if="book.isbn10">ISBN-10: {{book.isbn10}}
  <br>
  </span>

  <span ng-if="book.isbn13">ISBN-13: {{book.isbn13}}
  <br>
  </span>

  <span ng-if="book.dewyDec.length">Dewy Decimal Classication: <span ng-repeat="dec in book.dewyDec">{{dec}}{{$last ? '' : ', '}}</span><br></span>

  <span ng-if="book.lcClass.length">LC Classication: <span ng-repeat="lc in book.lcClass">{{lc}}{{$last ? '' : ', '}}</span><br></span>

  Language: {{book.lang}}
  <br>
  Added: {{book.dateAdded}}
  <br>
  Updated: {{book.updatedAt}}
  <br>
  <span ng-hide="showDesc"><a href="" ng-click="showDesc=true">Description &#9660;</a></span>
  <span ng-show="showDesc"><a href="" ng-click="showDesc=false">Description &#9654;</a></span>
  <div ng-hide="showDesc">
    <div ng-if="book.googDescription">
      Google Books: <br>
      <i>{{book.googDescription}}</i>
    </div>
    <div ng-if="book.azDescription">
      Amazon: <br>
      <i>{{book.azDescription}}</i>
    </div>

  </div>
</div>

<br> (ISBN: {{book.isbn}}) id: {{book._id}} -->
