<div id="book-splash" class="hidden-xs">
  <div id="book-splashTextBox">
    <div id="book-splashTitle">{{book.title}}</div>
  </div>
</div>
<div class="book-pageContent" >
  <div class="spacer10px"></div>
  <div class="container" >
    <div>
      <a ui-sref='main.home'>&#171; Home</a>
    </div>
    <div class="row" id="book-bookDisplay">
      <div class="col-xs-12 col-sm-5">
        <a href="{{book.amazonUrl}}"><img id="book-bookCover" class="center-block" src="{{book.coverArtUrl.large}}" /></a>

      </div>
      <div class="col-xs-12 col-sm-7">
        <div>
          <div id="book-bookTitle">{{book.title}}</div>
          <div id="book-bookSubtitle">{{book.subtitle}}</div>
        </div>
        <span id="book-authors" ng-repeat="author in book.authors">{{author}}{{$last ? '' : ', '}}</span>

        <div id="spacerLine"></div>

        <div id="book-stats">

          <!-- review score -->
          <div ng-if="avgScorePct">
            <div id="book-ratingStars">
              <div id="book-bookScorePctFill" style="width:{{avgScorePct}}%;">
                <img id="bookScorePctImg" src="img/stars/5stars.png" />
              </div>
            </div>
            Average rating: {{avgRating}}/5 ({{book.numReviews}} reviews)
          </div>
          <div ng-if="avgScorePct == false">
            No reviews
          </div>

          <!-- general info -->
          <div ng-if="book.length">
            {{book.length}} pages
          </div>
          <div>
            Published {{book.publishDate}} by {{book.publisher}}<span ng-repeat="place in book.publishPlaces">{{$first ? ',' : ''}} {{place}}{{$last ? '' : ', '}}</span>
          </div>
          <div ng-if="book.lang">
            Language: {{book.lang}}
          </div>

          <div ng-if="book.tags.length">
            <div ng-if="tagsLimited.length">
              Subjects:
              <span ng-repeat="tag in tagsLimited">
                {{tag}},
              </span>
              <span slide-toggle="#moreTags">
                <span ng-hide="showMoreTags">
                  <a href="" ng-click="showMoreTags=true">More +</a>
                </span>
                <span ng-show="showMoreTags" >
                  <a href= "" ng-click="showMoreTags=false">Less -</a>
                </span>
              </span>
              <div id="moreTags" class="slideable">
                <span ng-repeat="tag in tagsRemainder">
                  {{tag}}{{$last ? '' : ', '}}
                </span>
              </div>
            </div>

            <div ng-if="tagsLimited.length==false">
              Subjects:
              <span ng-repeat="tag in book.tags">
                {{tag}}{{$last ? '' : ', '}}
              </span>
            </div>
          </div>

          <div ng-if="book.isbn10">
            ISBN-10: {{book.isbn10}}
          </div>
          <div ng-if="book.isbn13">
            ISBN-13: {{book.isbn13}}
          </div>
          <div ng-if="book.lcClass.length">
            LCC: <span ng-repeat="lcc in book.lcClass">{{lcc}}{{$last ? '' : ', '}}</span>
          </div>
          <div ng-if="book.dewyDec.length">
            DDC: <span ng-repeat="ddc in book.dewyDec">{{ddc}}{{$last ? '' : ', '}}</span>
          </div>
          <div>
            {{book.numOwners}} users have this book in their collection
          </div>
          <div>
            {{book.numOwnBook}} users own this book
          </div>
          <div>
            {{book.numRead}} users have read this book
          </div>
          <div>
            {{book.numCurrentlyReading}} users are currently reading this book
          </div>



        </div>
        <div id="spacerLine"></div>
        <div id="book-links">
          <a href="{{book.amazonUrl}}">See this book on Amazon.com</a>
        </div>
        <div id="book-links">
          <a href="{{book.googBooksUrl}}">See this book on Google Books</a>
        </div>
        <div id="spacerLine"></div>

        <div ng-if="currentUser==false" id="book-noUser">
          <a href='/api/auth/fb/login'>Login to add this to your collection!</a>
        </div>

        <!-- this only displays to a logged in user -->
        <div ng-if="currentUser" id="book-bookInLib">
          <div ng-if="doesUserHaveBook==false">
            <span id="book-addLink">
              <a  href="" ng-click="addToLibraryByBookId(currentUser.library, book._id)">Add this book to your collection</a>
            </span>
          </div>
          <div id="book-userOwn" ng-if="doesUserHaveBook">
            <div>
              <span ng-hide="removeBookConfirm">This book is in your collection</span>
              <span id="book-removePrompt">
                <a href="" ng-click="removeBookConfirm=true">
                  <span ng-hide="removeBookConfirm">
                   <img id="book-trashIcon" src="img/trash.png"/ alt="Remove book">
                  </span>
                </a>
                <span id="book-removeBookConfirm" ng-show="removeBookConfirm">
                  Remove?
                  <a href="" ng-click="removeFromLibrary(currentUser.library, book._id); removeBookConfirm=false; ">
                    Yes
                  </a> /
                  <a href="" ng-click="removeBookConfirm=false">
                    Cancel
                  </a>
                  <div id="book-removeWarning">Your notes, ratings, and status will be lost</div>
                </span>
              </span>
            </div>
            <div id="book-ownership" ng-hide="removeBookConfirm">
              <div ng-if="userBook.own==false">
                You currnetly do not own this book. <a href="{{book.amazonUrl}}">Get it from Amazon</a>
              </div>
              <div ng-if="userBook.own==true">
                You own this book
              </div>
            </div>

          </div>

        </div>
        <!-- /end ng-if currentUser -->



      </div> <!-- end of 2nd col -->
    </div> <!-- end of row -->

    <div ng-if="doesUserHaveBook">
      <div class="spacer10px"></div>
      <div class="row" id="book-ownerControls">
        <div class="col-xs-12">
          <div class="col-sm-4" id="book-controlsOwn">
            <div ng-if="userBook.own==true" id=>
              <a href="" ng-click="editBook(currentUser.library, book._id, 'own', false)"><img id="book-check" src="img/check.png" /> You own this book</a>
            </div>
            <div ng-if="userBook.own==false">
               <a href="" ng-click="editBook(currentUser.library, book._id, 'own', true)"><img id="book-check" src="img/x.png" /> You do not own this book </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div ng-if="userBook.status=='read'" id="book-controlsOwn">
                <a href="" ng-click="editBook(currentUser.library, book._id, 'status', 'unread')"><img id="book-check" src="img/check.png" /> You have read this book</a>
            </div>
            <div ng-if="userBook.status=='unread'" id="book-controlsOwn">
                <a href="" ng-click="editBook(currentUser.library, book._id, 'status', 'reading')"><img id="book-check" src="img/x.png" /> You have not read this book</a>
            </div>
            <div ng-if="userBook.status=='reading'" id="book-controlsOwn">
                <a href="" ng-click="editBook(currentUser.library, book._id, 'status', 'read')"><img id="book-check" src="img/openbook.png" /> You are currently reading this book</a>
            </div>
          </div>
          <div class="col-sm-4" id="book-controlsOwn">
            <a ui-sref="main.library"><img id="book-check" src="img/openbook.png" /> Your collection</a>
          </div>
        </div>
      </div> <!-- /end row -->
    </div> <!-- /end doesUserHaveBook -->




    <!-- descriptions here  -->
    <div ng-if="book.googDescription || book.azDescription.length">
      <div class="spacer10px"></div>
      <div class="row" id="book-descriptions">
        <div class="col-xs-12">
          <span slide-toggle="#showReviews">
            <span id="book-descriptionHeader">
              <span ng-hide="showDescription"><a href="" ng-click="showDescription=true">Synopsis +</a></span>
              <span ng-show="showDescription"><a href="" ng-click="showDescription=false">Synopsis -</a></span>
            </span>
          </span>
          <div id="spacerLine"></div>
          <div id="showReviews" class="slideable">
            <div  ng-if="book.googDescription">
              <!-- <div id="spacerLine"></div> -->
              <div class="spacer10px"></div>
              <div id="book-descSource">
                Google Books
              </div>
              <div id="book-descriptionText">
                {{book.googDescription}}
              </div>
            </div>
            <div class="spacer10px"></div>
            <div id="spacerLine"></div>
            <div class="spacer10px"></div>
            <div ng-if="book.azDescription.length">
              <div id="book-descSource">
                Amazon
              </div>
              <div ng-repeat="desc in book.azDescription" id="book-descriptionText">
                {{desc}}
                  <div class="spacer10px"></div>
                  <div id="spacerLine"></div>
                  <div class="spacer10px"></div>
              </div>
            </div>
          </div> <!-- /end slideable -->
        </div> <!-- /end col -->
      </div> <!-- /end row -->
    </div> <!-- /end description -->
    <div class="spacer10px"></div>





  </div> <!-- /end container -->


<!-- Admin controls --------------------------------------------------------------------------------------->
  <div ng-if="hasAdminRole">
    <hr>
    Admin:
    <br>
    <div>
      ISBN: {{book.isbn}}
    </div>
    <div>
      ID: {{book._id}}
    </div>
    <div>
      Added: {{book.dateAdded}}
    </div>
    <div>
      Updated: {{book.updatedAt}}
    </div>

    <!-- put edit prompt here -->

    <!-- delete prompt -->
    &#187;
    <a href="" ng-click="deleteConfirm=true">
      delete book
    </a>
    <span ng-show="deleteConfirm">
      Are you sure?
      <a href="" ng-click="deleteBook(book._id); deleteConfirm=false; ">
        Yes
      </a> /
      <a href="" ng-click="deleteConfirm=false">
        Cancel
      </a>
    </span>
    <!-- /delete prompt -->
  </div>

</div>

<!--
<div id="book-ratingInput">
  <span class="rating">
    <input type="radio" ng-model="newReviewScore" ng-value="5" class="rating-input" id="rating-input-1-5" name="rating-input-1" ng-click="starRating(newReviewScore)"/>
    <label for="rating-input-1-5" class="rating-star"></label>
    <input type="radio" ng-model="newReviewScore" ng-value="4" class="rating-input" id="rating-input-1-4" name="rating-input-1"/ ng-click="starRating(newReviewScore)">
    <label for="rating-input-1-4" class="rating-star"></label>
    <input type="radio" ng-model="newReviewScore" ng-value="3" class="rating-input" id="rating-input-1-3" name="rating-input-1"/ ng-click="starRating(newReviewScore)">
    <label for="rating-input-1-3" class="rating-star"></label>
    <input type="radio" ng-model="newReviewScore" ng-value="2" class="rating-input" id="rating-input-1-2" name="rating-input-1"/ ng-click="starRating(newReviewScore)">
    <label for="rating-input-1-2" class="rating-star"></label>
    <input type="radio" ng-model="newReviewScore" ng-value="1" class="rating-input" id="rating-input-1-1" name="rating-input-1"/ ng-click="starRating(newReviewScore)">
    <label for="rating-input-1-1" class="rating-star"></label>
  </span>
</div> -->


<!--
<hr>
<img src="{{book.coverArtUrl.medium}}" />
{{book.title}} by <span ng-repeat="author in book.authors">{{author}}{{$last ? '' : ', '}}</span>
<br>
<span ng-hide="moreInfo"><a href="" ng-click="moreInfo=true">More Info -</a></span>
<span ng-show="moreInfo"><a href="" ng-click="moreInfo=false">More Info +</a></span>
<div ng-hide="moreInfo">
  <span ng-if="book.subtitle">{{book.subtitle}}
  <br>
  </span>

  <span ng-if="book.length">{{book.length}} pages
  <br>
  </span>

  Published {{book.publishDate}} by {{book.publisher}}<span ng-repeat="place in book.publishPlaces">{{$first ? ',' : ''}} {{place}}{{$last ? '' : ', '}}</span>
  <br>
  <span ng-if="book.tags.length"><span ng-repeat="tag in book.tags">
    {{tag}}{{$last ? '' : ', '}}
  </span>
  <br></span>

  <span ng-if="book.isbn10">ISBN-10: {{book.isbn10}}
  <br>
  </span>

  <span ng-if="book.isbn13">ISBN-13: {{book.isbn13}}
  <br>
  </span>

  <span ng-if="book.dewyDec.length">Dewy Decimal Classication: <span ng-repeat="dec in book.dewyDec">{{dec}}{{$last ? '' : ', '}}</span><br></span>

  <span ng-if="book.lcClass.length">LC Classication: <span ng-repeat="lc in book.lcClass">{{lc}}{{$last ? '' : ', '}}</span><br></span>

  Language: {{book.lang}}
  <br>
  Added: {{book.dateAdded}}
  <br>
  Updated: {{book.updatedAt}}
  <br>
  <span ng-hide="showDesc"><a href="" ng-click="showDesc=true">Description &#9660;</a></span>
  <span ng-show="showDesc"><a href="" ng-click="showDesc=false">Description &#9654;</a></span>
  <div ng-hide="showDesc">
    <div ng-if="book.googDescription">
      Google Books: <br>
      <i>{{book.googDescription}}</i>
    </div>
    <div ng-if="book.azDescription">
      Amazon: <br>
      <i>{{book.azDescription}}</i>
    </div>

  </div>
</div>

<br> (ISBN: {{book.isbn}}) id: {{book._id}} -->
