<div class="home-splash">
    <span>Book Collector</span>
</div>
Books:
<ul>
  <li ng-repeat="book in books">
      <a ui-sref="main.book({isbn:book.isbn})"><img src="{{book.coverArtUrl.small}}">
      {{book.title}} by <span ng-repeat="author in book.authors">{{author}}{{$last ? '' : ', '}}</span> (ISBN: {{book.isbn}})</a>
  </li>
</ul>
<span ng-if="hasAdminRole"><a ui-sref="main.admin">Admin</a></span>
<br>
<a ui-sref="main.test">test</a>
<br>

<span ng-if="hasUserRole">user: {{hasUserRole}}</span>
