<div class="home-splash">
    <span>Book Collector</span>
</div>
<div class="spacer10px"></div>
<div class="container">
  <div class="row hidden-xs" ng-if="currentUser">
    <div class="col-sm-6">
      <div id="home-greeting">
        Hi, {{currentUser.name}}
      </div>
    </div>
    <div class="col-sm-6">
      <div id="home-libraryLink" class="text-right">
        <a ui-sref="main.library"><img id="home-libIcon" src="img/openbook.png" /> Your Collection</a>
      </div>
    </div>
    <div class="spacer10px"></div>
    <div class="spacer10px"></div>
    <div class="spacer10px"></div>
    <div class="spacer10px"></div>
  </div>

  <div class="row hidden-sm hidden-md hidden-lg" ng-if="currentUser">
    <div class="col-xs-6">
      <div id="home-greeting-sm">
        Hi, {{currentUser.name}}
      </div>
    </div>
    <div class="col-xs-6">
      <div id="home-libraryLink-sm" class="text-right">
        <a ui-sref="main.library"><img id="home-libIcon-sm" src="img/openbook.png" /> Your Collection</a>
      </div>
    </div>
    <div class="spacer10px"></div>
    <div class="spacer10px"></div>
    <div class="spacer10px"></div>
    <div class="spacer10px"></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form name="bookSearchForm" id="home-bookSearchForm">



        <div id="home-searchBookSelectBox">
          <select id="searchBookOptionBox" ng-model="searchBookOption" ng-options="option.value as option.name for option in searchBookOptions" ng-init="searchBookOption = searchBookOptions[0].value">
          </select>
        </div>
        <div id="home-searchBox">
          <input type="text" ng-model="searchTerm" id="home-bookSearchInput" class="form-control" placeholder="Search for a book. . ." required/>
        </div>


        <div class="spacer10px"></div>
        <div class="spacer10px"></div>
        <div id="home-searchButton">
          <button ng-disabled="bookSearchForm.$invalid"  class="center-block" ng-click="
            searchForBook(searchBookOption, searchTerm);
            searchResults = true;
            resultsTerm = searchTerm;
            resultsParam = searchBookOption;
            searchTerm ='';
          ">
            Book Collector Search
          </button>
        </div>
      </form>
    </div>
  </div> <!-- /end row -->

  <!-- search results  -->
  <div ng-if="searchResults">
    <div>{{searchResults.data.length}} results for {{resultsParam}}: {{resultsTerm}}</div>
    <div class="row">
      <div class="col-sm-12">
        <div dir-paginate="book in searchResults.data | filter: q | itemsPerPage: 3" id="search-resultsBox">
          <div class="row">
            <div class="col-sm-12 hidden-xs">
              <!-- if the book was in the database, parse it this way: -->
              <div ng-if="book.type=='db'">
                <a ui-sref="main.book({isbn:book.data.isbn})">
                  <div class="col-sm-3">
                    <img src="{{book.data.coverArtUrl.medium}}" class="pull-right"/>
                  </div>
                  <div class="col-sm-9">
                    <div id="search-Title">
                      {{book.data.title}}
                    </div>
                    <div ng-if="book.data.subtitle" id="search-Subtitle">
                      {{book.data.subtitle}}
                    </div>
                    <div id="search-authors">
                      <span ng-repeat="author in book.data.authors">{{author}}{{$last ? '' : ', '}}</span>
                    </div>
                    <div id="search-publishInfo" ng-if="book.data.publisher">
                      Published {{book.data.publishDate}} by {{book.data.publisher}}<span ng-if="book.data.publishPlaces.length"><span ng-repeat="place in book.data.publishPlaces">{{$first ? ',' : ''}} {{place}}{{$last ? '' : ', '}}</span></span>
                    </div>
                    <div id="search-pages">
                      <span ng-if="book.data.length">{{book.data.length}} pages, </span>ISBN: {{book.data.isbn}}</span>
                    </div>
                    <div ng-if="book.data.inLibrary" id="search-inLibrary">
                      <img id="search-bookIcon" src="img/openbook.png" /> In your collection
                    </div>
                  </div> <!-- /end col -->
                </a>              
              </div> <!-- /end db -->

              <!-- if the book was from amazon, parse it this way: -->
              <div ng-if="book.type=='az'">
                <a href="book.data.ItemAttributes[0].ISBN[0]"> <!-- book page sim link here -->
                  <div class="col-sm-3">
                    <img src="{{book.data.MediumImage[0].URL[0]}}" class="pull-right"/>
                  </div>
                  <div class="col-sm-9">
                    <div id="search-Title">
                      {{book.data.ItemAttributes[0].Title[0]}}
                    </div>
                    <div id="search-authors">
                      <span ng-repeat="author in book.data.ItemAttributes[0].Author">{{author}}{{$last ? '' : ', '}}</span>
                    </div>
                    <div id="search-publishInfo" ng-if="book.data.ItemAttributes[0].Publisher">
                      Published {{book.data.ItemAttributes[0].PublicationDate[0]}} by {{book.data.ItemAttributes[0].Publisher[0]}}
                    </div>
                    <div id="search-pages">
                      <span ng-if="book.data.ItemAttributes[0].NumberOfPages">{{book.data.ItemAttributes[0].NumberOfPages[0]}} pages, </span>ISBN: {{book.data.ItemAttributes[0].ISBN[0]}}</span>
                    </div>
                  </div> <!-- /end col -->
                </a>
              </div> <!-- /end az -->

            </div> <!-- /end col -->

          </div> <!-- /end row -->
          <div class="spacer10px"></div>

        </div> <!-- /end search results paginate -->



      </div> <!-- /end col -->
    </div> <!-- /end row -->
    <div class="row">
      <div class="col-sm-12">
        <div id="pageControlsBox" class="text-center">
          <dir-pagination-controls

            max-size="5"
            direction-links="true"
            boundary-links="true"
            template-url="./tmpl/dirPagination.tpl.html">
          </dir-pagination-controls>
        </div>
      </div>
    </div>
  </div> <!-- /end ng-if -->











</div> <!-- /end container -->

<!-- <div ng-if="hasUserRole">
  <a ui-sref="main.library">Library</a>
</div> -->
<div class="spacer10px"></div>
<div ng-if="hasAdminRole">
  <hr>
  <a ui-sref="main.admin">Admin</a>
</div>
