(admin.html SECURE)
<br>
<h2>Admin:</h2>
<hr>
Books:
<ul>

  <li ng-repeat="book in books"> <!-- ng-hide="deleted "> -->
      <img src="{{book.coverArtUrl}}" />
      {{book.title}} by {{book.author}}
      <br>
      <a href="" ng-click="moreInfo=false">
        more info
      </a>
      <span ng-show="moreInfo"> »</span>
      <div ng-hide="moreInfo">
        <a href="" ng-click="moreInfo=true">X</a>
        <br>
        {{book.subtitle}}: {{book.length}} pages, published {{book.date}} by {{book.publisher}}
        <br>
        {{book.tags}}
        <br>
        <i>{{book.description}}</i>
      </div>


      <br> (ISBN: {{book.isbn}}) id: {{book._id}} &#187;
      <a href="" ng-click="deleteConfirm=true">
        delete
      </a>
        <span ng-show="deleteConfirm">
          Are you sure?
          <a href="" ng-click="deleteBook(book._id); deleteConfirm=false; ">
            Yes
          </a> /
          <a href="" ng-click="deleteConfirm=false">
            Cancel
          </a>
        </span>
       -
      <a href="" ng-click="show=true">
        edit
      </a>
      <div ng-show="show">
        <a href= "" ng-click="show=false">X</a>

        <div id="editBookSelectBox">
          <select id="editBookOptionBox" ng-model="editBookOption" ng-options="option.value as option.name for option in bookOptions" ng-init="editBookOption = bookOptions[0].value">
          </select>
        </div>


        <form name="editBookForm">
          <input type="text" ng-model="editedBook" placeholder="New {{editBookOption}}" required/>
          <button ng-disabled="editedBookForm.$invalid" ng-click="editBook(book._id, editBookOption, editedBook)">
            Edit {{editOption}}
          </button>
        </form>

      </div>
      <hr length="30">
  </li>
</ul>
<div>
  <a href="" ng-click="showNewBookForm=true">Add book</a>
  <div ng-show="showNewBookForm">
    <a href="" ng-click="showNewBookForm=false">X</a>
    <form name="newBookForm">
      <input type="text" ng-model="newBookTitle" placeholder="New book title" required/>
      <input type="text" ng-model="newBookAuthor" placeholder="New book author" required/>
      <br>
      <button ng-disabled="newBookForm.$invalid" ng-click="addBook(newBookTitle, newBookAuthor)">
        Add Book
      </button>
    </form>
    <form name="newBookIsbnForm">
      <input type="text" ng-model="newBookIsbn" placeholder="New book ISBN" required/>
      <br>
      <button ng-disabled="newBookIsbnForm.$invalid" ng-click="addBookByIsbn(newBookIsbn)">
        Add Book by ISBN
      </button>
    </form>
  </div>
</div>

<hr>
Users:
<ul>
  <li ng-repeat="user in users">
    {{user.name}}

    &#187;
    <a href="" ng-click="deleteConfirm=true">
     delete
    </a>
     <span ng-show="deleteConfirm">
       Are you sure?
       <a href="" ng-click="deleteUser(user._id, user.library); deleteConfirm=false;">
         Yes
       </a> /
       <a href="" ng-click="deleteConfirm=false">
         Cancel
       </a>
     </span>
    -
    <a href="" ng-click="show=true">
     edit
    </a>
    <div ng-show="show">
     <a href= "" ng-click="show=false">X</a>

     <div id="editUserSelectBox">
       <select id="editUserOptionBox" ng-model="editUserOption" ng-options="option.value as option.name for option in userOptions" ng-init="editUserOption = userOptions[0].value">
       </select>
     </div>


     <form name="editUserForm">
       <input type="text" ng-model="editedUser" placeholder="New {{editUserOption}}" required/>
       <button ng-disabled="editedUserForm.$invalid" ng-click="editUser(user._id, editUserOption, editedUser)">
         Edit {{editUserOption}}
       </button>
     </form>

    </div>
    <br>
    user id: {{user._id}}
    <br>
    library id: {{user.library}}
    <br>
    books:
    <div ng-repeat="book in user.books">
      stuff: {{book}}
    </div>

    <form name="addBookForm">
      <input type="text" ng-model="addBookId" placeholder="id of book to add" required/>
      <button ng-disabled="addBookForm.$invalid" ng-click="addToLibrary(user.library, addBookId)">
        Add to library
      </button>
    </form>
    <br>
  </li>
</ul>

<div>
  <a href="" ng-click="showNewUserForm=true">Add User</a>
  <div ng-show="showNewUserForm">
    <a href="" ng-click="showNewUserForm=false">X</a>
    <form name="newUserForm">
      <input type="text" ng-model="newUserName" placeholder="New user name" required/>

      <button ng-disabled="newUserForm.$invalid" ng-click="addUser(newUserName)">
        Add User
      </button>
    </form>
  </div>
</div>
<hr>


Libraries:

  <li ng-repeat="library in libraryList">

    library._id: {{library._id}}
    &#187;
    <a href="" ng-click="deleteConfirm=true">
      delete
    </a>
      <span ng-show="deleteConfirm">
        Are you sure?
        <a href="" ng-click="deleteLibrary(library._id); deleteConfirm=false;">
          Yes
        </a> /
        <a href="" ng-click="deleteConfirm=false">
          Cancel
        </a>
      </span>
    <ul>
      <li ng-repeat="book in library.books">

        {{book.book.bookData.title}} by {{book.book.bookData.author}} (ISBN: {{book.book.bookData.isbn}}) id: {{book.book.bookData._id}} - <a href="" ng-click="removeFromLibrary(library._id, book._id)">delete</a>

      </li>
    </ul>
  </li>
</ul>

<hr>

<a ui-sref='main'>&#171; Main</a>
